.body {
  height: 100vh;
  width: 100%;
  padding: 0%;
  margin: 0%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.bar {
  z-index: 1;
  overflow: hidden;
  position: sticky;
}

.header,
.footer {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.header {
  height: 20px; /* Assuming header height is 20px */
  top: 0;
}

.footer {
  height: 40px; /* Assuming footer height is 60px */
  bottom: 0; /* Changed to 0 */
}
.main{
  margin-top: 5px;
}
.main-content {
  margin-top: 50px;
  text-align: center;
  margin-left: 70px;
  transition: margin-left 0.3s ease;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 10%; /* Adjust as needed */
  }
}

@media screen and (max-width: 622px) {
  .sidebar {
    width: 5%; /* Adjust as needed */
  }
}

@media screen and (max-width: 320px) {
  .footer {
    display: none !important;
  }
}
