.footer-dark {
    background-color: #3c454e;
    color: #ffffff;
    padding: 0px 0;
  }
  
  .footer-text {
    margin-bottom: 0;
    color: #ffffff;
  }
  .icons{
    font-size: 30px;
    float: right;
  }