/* CommonModalCss.css */
.modal-header {
    background-color: #020e58;
    color: #06fc1f;
  }
  
  .modal-body {
    background-color: #000000;
    color: #06fc1f;
  }
  
  .modal-footer {
    background-color: #020e58;
    color: #fff;
  }
  
  .btn-secondary {
    background-color: #5aff28;
    color: #000000;
  }
  